                        /* ****************Loading**********************/

                    
                        .lds-facebook {
                            display: inline-block;
                            position: relative;
                            width: 80px;
                            height: 80px;
                          }
                          .lds-facebook div {
                            display: inline-block;
                            position: absolute;
                            left: 8px;
                            width: 16px;
                            background: #1A4990;
                            animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                          }
                          .lds-facebook div:nth-child(1) {
                            left: 8px;
                            animation-delay: -0.24s;
                          }
                          .lds-facebook div:nth-child(2) {
                            left: 32px;
                            animation-delay: -0.12s;
                          }
                          .lds-facebook div:nth-child(3) {
                            left: 56px;
                            animation-delay: 0;
                          }
                          @keyframes lds-facebook {
                            0% {
                              top: 8px;
                              height: 64px;
                            }
                            50%, 100% {
                              top: 24px;
                              height: 32px;
                            }
                          }
                         /* ****************Loading**********************/
               
               
               body{
                    border: 0;
                    margin: 0;
                    /* overflow-x: hidden; */
                }

                    a{text-decoration: none;
                    color: inherit;
                    
                    }
                    
                    a:focus, a:hover {
                        text-decoration: none;
                    }
                    
                    
                    body{margin: 0;}
                    ul{list-style: none;}
                    
                    /* ****************header PC**********************/
                    .pc-header {
                        height: 100px;
                        width: 100%;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 1;
                    }


                    
                    .icon-img-div {
                        height: 55%;
                        width: 25%;
                        display: flex;
                        justify-content: flex-end;
                    }
                    .icon-img-div img {
                        height: 100%;
                        position: relative;
                        left: 15%;
                    }
                    .text-M-div {
                        display: flex;
                        width: 50%;
                        justify-content: center;
                        align-items: center;
                        HEIGHT: 100%;
                    }
                    .text-s-div {
                        margin-left: 2%;
                        margin-right: 2%;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        position: relative;
                        justify-content: center;
                    }


                    .text-s-div p {
                        margin: 0;
                        font-size: 1.3vw;
                        font-family: 'Bebas Neue', cursive;
                        color: #4B4B4B;
                        white-space: nowrap;
                        cursor: pointer;
                    }
                    .lang-ling-div{
                        width: 25%;
                        height: 100%;
                    }
                    .text-lang-phone-div{
                        height: 100%;
                        display: flex;
                        width: fit-content;
                        position: relative;
                        right: 15%;
                    }
                    .text-info-header-div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: #1A4990;
                        margin-right: 10px;

                        }
                    .text-phone-p{
                        margin: 0;
                        font-size: 1.1vw;
                        font-family: 'Bebas Neue', cursive;
                        color: #ffffff;
                        white-space: nowrap;
                        margin-left: 3px;

                    }
                    .text-email-p{
                        margin: 0;
                        font-size: 0.8vw;
                        font-family: 'Bebas Neue', cursive;
                        color: #ffffff;
                        white-space: nowrap;
                        margin-left: 10px;
                        margin-right: 10px;
                    } 
                    
                    .text-lang-header-div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        position: relative;

                    }
                    .text-lang-header-div p {
                        margin: 0;
                        font-size: 25px;
                        font-family: 'Bebas Neue', cursive;
                        color: #1A4990;
                        white-space: nowrap;
                        cursor: pointer;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                    .text-img-p-div {
                        width: 30px;
                        height: 30px;
                        background-color: white;
                        overflow: hidden;
                        border-radius: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .text-img-p-div img {
                        height: 35px;
                    }
                    .M-DIV-IMG-POHONE {
                        margin-left: 10px;
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                    }
                    .line-text-m {
                        width: 100%;
                        height: 0px;
                        background-color: #1A4990;
                        position: absolute;
                        bottom: 0;
                        transition: all 0.2s;

                    }
                    .text-id-M{
                        transition: all 0.2s;
                    }
                    .lang-H-M {
                        width: 100%;
                        background-color: #1a4990;
                        position: absolute;
                        z-index: -1;
                        bottom: 0;
                        visibility: hidden;
                        transition: all 0.3s;

                    }
                    .lang-text-M{
                        width: 100%;
                        background-color: #1a4990;
                        border-style: solid;
                        border-width: 1px;
                        border-color: rgb(255, 255, 255);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.2s;
                        cursor: pointer;
                    }
                    .lang-text-M p{
                        font-size: 20px;
                        font-family: 'Bebas Neue', cursive;
                        color: white;
                        margin: 0;
                        transition: all 0.2s;
                    }

                    .PRODUCTS-MI-DIV-BIG {
                        width: 800px;
                        background-color: rgb(255, 255, 255);
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        right: -370px;
                        height: 0px;
                        top: 100px;
                        overflow: hidden;
                        transition: all 0.4s;
                    }
                    .PRODUCTS-S-DIV {
                        width: 33%;
                        background-color: #ffffff;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        

                        

                    }

                    .PRODUCTS-S-DIV p{
                        font-size: 1.0vw;
                        margin: 0;
                        margin-bottom: 15px;
                    }
                    .big-text-div p{
                        font-size: 1.3vw;
                        margin: 0;
                        margin-bottom: 15px;
                        margin-top: 15px;

                    }
                    .PRODUCTS-S-mid{
                        border-style: solid;
                        border-color: #696969;
                        border-bottom: none;
                        border-width: 1px;
                        border-top: none;
                        
                    }
                    .a-mune-text{
                        text-decoration: none;
                        color: inherit;
                        margin-left: 2%;
                        margin-right: 2%;
                        height: 100%;}
                    

                    
                    
                   
                        
                    /* **************** header PC hover **********************/

                    .text-s-div:hover .PRODUCTS-MI-DIV-BIG {height: 280px;}
                    
                    .PRODUCTS-S-TEXT:hover{
                        color: #111;
                        transform: scale(1.2);}
                    
                    .PRODUCTS-BIG-TEXT:hover{
                        color: #111;
                        transform: scale(1.2);}


                    
                    .text-lang-header-div:hover .lang-H-M{
                        visibility: visible;
                        bottom: -92px;
                    }
                    .phone-header{display: none;}



                    .text-s-div:hover .line-text-m{height: 8px;}
                    
                    .text-s-div:hover .text-id-M {color: #1A4990;}

                    .lang-text-M:hover {background-color: #065ad8;}

                    /* **************** header phone **********************/
                    
                    @media only screen and (max-width: 1000px) {
                        .pc-header{display: none;}
                        
                        .phone-header{

                            box-shadow: 0px 0px 20px #000000;
                            width: 100%;
                            height: 60px;
                            position: fixed;
                            z-index: 110;
                            background-color: white;
                            display: flex;
                        }
                        .W-LOG-X{
                            width: 33%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .W-LOG-X a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;}


                        .W-LOG-X img{
                            height: 75%;

                        }
                        .Close-line-div{
                            width: 45px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            cursor: pointer;
                        }
                        .Close-line-div-B{
                            width: 100%;
                            height: 6px;
                            border-radius: 5px;
                            background-color: #1A4990;
                        }
                        .W-LOG-l{                            
                            width: 33%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;;

                        }
                        .Close-W{
                            position: relative;
                            right: -23px;
                            height: 100%;
                        }
                        .menu-phone{
                            display: flex;
                            position: fixed;
                            top: 60px;
                            width: 50%;
                            flex-direction: column;
                            height: 0px;
                            visibility: hidden;
                            transition: all 0.5s;
                            overflow: hidden;
                            left: 0;
                        }

                        .text-mune-phone {
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: flex-start;
                            background-color: #1A4990;
                            cursor: pointer;
                        }
                        .text-mune-phone p{
                            margin: 0;
                            position: relative;
                            right: -23px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            font-size: 20px;
                            font-family: 'Bebas Neue', cursive;
                            color: white;

                        }
                        
                        

                        .lang-div-phone{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            align-content: center;
                            position: fixed;
                            width: 50%;
                            background-color: white;
                            top: 330px;
                            height: 0;
                            overflow: hidden;
                            transition: all 0.2s;

                        }
                        .lang-div-phone p{
                            display: flex;
                            margin: 0;
                            font-family: 'Bebas Neue', cursive;
                            font-size: 20px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            color: #333;
                            right: 0;

                            
                        }
                        .lang-text-phone{
                            width: 33.33333333333333%;
                            height: 100%;
                            background-color: white;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        
                        .lang-text-phone-M{
                            border-style: solid;
                            border-color: #696969;
                            border-bottom: none;
                            border-width: 1px;
                            border-top: none;
                        }

                        .Pro-div-M{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;}

                        .pro-mune-phone{
                            width: 100%;
                            height: 100%;
                            background-color: white;
                            display: flex;
                            justify-content: center;
                        }
                        .pro-mune-phone p{
                            color: #333;
                            right: 0;
                            
                        }

                        .pro-mune-phone-M{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 0px;
                            overflow: hidden;
                            transition: all 0.3s;
                        
                        
                        }

                        
                        
                        
                        








                    /* **************** header phone hover **********************/    


                        .Pro-div-M:hover .pro-mune-phone-M{height: 120px;}

                        
                        .pro-mune-phone:hover .text-mune-phone-text-s{transform: scale(1.2);}
                        
                        .lang-text-phone:hover {background-color: #1A4990;}
                        .lang-text-phone:hover p {color: white;}
                        .text-mune-phone:hover .lang-div-phone{height: 40px;}
                        .text-mune-phone:hover .text-mune-phone-text {transform: scale(1.2);}
                        .Close-W:hover .menu-phone{ height: 390px; visibility: visible;}
                    }

                    /* **************** header END **********************/   
                    
                    
                    
                   
                    





                        
                        /* **************** background **********************/
                        .background-section{ 
                            width: 100%;
                            height: 35vh;}
                        
                            .background-div-img {
                                background-image: url(./images/P1.jpg);
                                background-position-y: center;
                                height: 100%;
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        
                            .background-div-text-R {
                                position: relative;
                                width: 50%;
                                display: flex;
                                justify-content: center;
                            }

                            .background-div-text-L {
                                position: relative;
                                width: 50%;
                                display: flex;
                                justify-content: center;
                            }
                        
                            .background-text {
                                margin: 0;
                                color: white;
                                font-family: 'Bebas Neue', cursive;
                                font-size: 40px;
                            }
                            /* **************** background phone **********************/

                            @media only screen and (max-width: 1000px) {

                                .background-div-text-L{
                                    display: none;
                                }

                                .background-text {
                                    font-size: 30px;
                                }


                            }

                            /* **************** Producer img **********************/     
                            .Producer-section-img{
                                width: 100%;
                                display: flex;
                                align-content: center;
                                justify-content: center;
                                margin-top: 30px;
                            }
                            .Producer-div-img {
                                width: 60%;
                                overflow: hidden;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                            }      
                            .Producer-div-text{
                                width: 60%;
                                display: flex;
                            }
                            .Producer-div-text p{
                                font-family: 'Bebas Neue', cursive;
                                font-size: 80px;
                                margin: 0;
                            }
                            .Producer-div-img-div{
                                width: 100%;
                            }
                            .Producer-div-img-img{
                                transition: all 0.2s;
                            }


                            .Producer-div-img-img:hover {transform: scale(1.02);}

                            /* **************** Producer phone **********************/  
                            
                            @media only screen and (max-width: 1000px) {
                                .Producer-div-img {
                                    width: 90%;
                                }





                            }



                            /* **************** Producer INFO **********************/   
                            .Producer-info-section {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                margin-bottom: 50px;
                                flex-direction: column;
                                align-items: center;
                            }
                            .Producer-info-div-M {
                                width: 60%;
                                display: flex;
                                justify-content: center;
                            }
                            .Producer-info-div-L {
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                            }
                            .Producer-info-div-R {
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                align-content: stretch;
                                justify-content: flex-start;
                                align-items: flex-end;
                            }
                            .Producer-info-div-S{
                                width: 90%;
                                height: 50px;
                                background-color: #ccd0d3;
                                margin-bottom: 10px;
                                margin-top: 10px;
                                display: flex;
                                
                            }
                            .Producer-text-div-L{
                                width: 30%;
                                height: 100%;
                            }


                            .Producer-text-M {
                                display: flex;
                                align-content: center;
                                align-items: center;
                                justify-content: space-between;
                            }

                            
                            .Producer-text-M p{
                                font-size: 20px;
                                margin: 0;
                                font-family: 'Bebas Neue', cursive;
                                margin-left: 20px;



                                
                            }
                            .Producer-text-div-R{
                                width: 70%;
                                height: 100%;
                                justify-content: space-around;
                            
                            
                            }
                            .Producer-line {
                                width: 60%;
                                background-color: #1A4990;
                                height: 2px;
                                margin-top: 30px;
                            }
                            /* **************** Producer INFO phone **********************/  
                            
                            @media only screen and (max-width: 1000px) {
                                .Producer-info-div-M {
                                    width: 90%;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                                .Producer-info-div-L{
                                    width: 100%;
                                }
                                .Producer-info-div-R{
                                    width: 100%;
                                }


                                .Producer-line {
                                    width: 90%;
                                }
                                .Producer-text-M p {
                                    font-size: 15px;
                                    margin: 0;
                                    margin-left: 10px;

                                }
                                .Producer-text-div-L {
                                    width: 100%;
                                }
                                .Producer-text-div-R {
                                    width: 100%;

                                }
                                .Producer-info-div-S {
                                    width: 100%;
                                }





                            }                            



                            /* ****************img-section**********************/

                            .img-section {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                margin-bottom: 50px;
                            }
                            .M-img-div {
                                width: 60%;
                                display: flex;
                                justify-content: space-between;
                                flex-wrap: wrap;
                            }
                            .S-img-div {
                                height: 200px;
                                width: 320px;
                                overflow: hidden;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 50px;
                                border-width: 1px;
                                border-style: solid;
                            }
                            .M-img-R{
                                width: 100%;
                                transition: all 0.2s;
                            }
                        


                            @media only screen and (max-width: 1000px) {
                                .M-img-div {
                                    width: 80%;
                                    display: flex;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                }
                                .S-img-div {
                                    height: 150px;
                                    width: 100%;
                                    overflow: hidden;
                                    margin: 0;
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                }
                                .M-img-R {
                                     height: auto; 
                                    transition: all 0.2s;
                                    width: inherit;
                                }
                                
                            }

                            
                            
                            
                            /* ****************hover**********************/
                            .S-img-div:hover .M-img-R {transform: scale(1.2);}

























                        /*****************Special**********************/
                        .Special-section{ 
                            width: 100%;
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            margin-bottom: 100px;

                        }
                        .Special-div{
                            width: 60%;
                            box-shadow: 0px 0px 15px #0f0f0f;
                        }
                        .Special-div-text{
                            background-color: #1A4990;
                            height: 40PX;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                        }
                        .Special-div-text P{
                            margin: 0;
                            font-family: 'Bebas Neue', cursive;
                            font-size: 30px;
                            color: white;

                            
                        }
                        .Special-div-CO{
                            width: 100%;
                            display: flex;
                        }
                        .Special-div-EM {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-between;
                        }
                        .Special-div-PH {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        .text-info-div {
                            width: 90%;
                            height: 37px;
                            margin-top: 20px;
                        }
                        .text-info-Mesa{
                            height: 120px;
                            resize: vertical;
                            margin-bottom: 20px;
                        }
                        .div-B {
                            display: flex;
                            align-content: center;
                            justify-content: center;
                            width: 90%;
                            height: 40px;
                            background-color: #1A4990;
                            align-items: center;
                        }

                        .div-B p{
                            margin: 0;
                            font-family: 'Bebas Neue', cursive;
                            font-size: 20px;
                            color: white;

                        }

                        .Special-img-text {
                            width: 90%;
                            height: 35px;
                            background-color: rgb(255, 255, 255);
                            border-style: solid;
                            border-width: 1px;
                            border-color: #333;
                            margin-top: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                        }
                        .Special-info-img {
                            height: 30px;
                            width: 30px;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            overflow: hidden;
                        }
                        .Special-text-info {
                            height: 100%;
                            display: flex;
                            align-content: center;
                            align-items: center;
                            justify-content: flex-start;
                        }
                        .Special-text-info p{
                            margin: 0;
                            margin-left: 20px;
                            font-size: 18px;

                        }
                        .Special-info-img img{
                            width: inherit;
                        }
                        
                        /*****************Special phone**********************/
                        @media only screen and (max-width: 1000px) {


                            .Special-div {
                                width: 90%;
                                display: flex;
                                flex-direction: column;
                                box-shadow: 0px 0px 15px #0f0f0f;
                            }
                            .Special-div-CO {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                            .Special-div-PH {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                            .Special-div-EM {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                            }
                        }       
                        
                             /* ****************v**********************/

                             .backgrund {
                                position: fixed;
                                height: 100vh;
                                width: 100%;
                                top: 0px;
                                right: 0px;
                                place-content: center;
                                align-items: center;
                                transition: opacity .3s;
                                opacity: 0%;
                                z-index: -1;
                                display: flex;
                            
                            
                            }
                            
                            .backgrund-black{
                                background-color: black;
                                opacity: 80%;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                
                                
                            }
                             .backgrundIMG{
                                height: 90%;
                                overflow: hidden;
                                z-index: 9999;
                                background-size: contain;
                                background-repeat: no-repeat no-repeat;
                                background-position: center center;
                                position: relative;
                                display: flex;
                                justify-content: flex-end;
                            
                            }
                            
                            .imgXX{
                                width: -webkit-fill-available;
                        
                            }
                            
                            .closex{
                                height: 30px;
                                width: 30px;
                                background-color: rgb(214, 214, 214);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                            }
                            
                            .closex p {
                                font-size: 30px;
                                margin: 0;
                                color: rgb(0, 0, 0);
                            }
                            
                            .closex:hover{
                                cursor: pointer;
                            }

                            /* ****************v phone**********************/


                            @media only screen and (max-width: 1000px) {
                                .backgrundIMG {
                                    height: auto; 
       
                                   }
                                
                            }
                            /* ****************v**********************/

                /* ****************3D**********************/
                .M-3D-div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }

                
                .M-3D-div-IMG {
                    height: 100%;
                    width: 100%;
                    background-color: white;
                    display: flex;
                    align-items: stretch;
                    justify-content: center;
                    position: relative;
                }

                .D3D-SCALL{
                    opacity: 100%;
                }

                
                
                
                
                .M-3D-IMGX {
                    position: ABSOLUTE;
                    width: 100%;
                    HEIGHT: 100%;
                    overflow:hidden ;
                    transition: all 0.2s;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #444;
                }
                
                .M-3D-IMG{
                    width: 100%;
                    transition: all 0.1s;}
                    
                
                
                
                .M-3D-IMG-SACEND-div {
                    position: absolute;
                    overflow: hidden;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    left: 0;
                    width: 0%;
                    }
                
                
                    .M-3D-IMG-SACEND {
                        width: 1500px;
                        height: 100%;
                    }


                    
                    .D3D-SCALL {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 20px;
                        background: #5e7aa3;
                        outline: none;
                        z-index: 1;
                        position: relative;
                        transition: all 0.2s;

                      }
                      
                      .D3D-SCALL:hover {
                        background: #1A4990;
                      }
                      
                      .D3D-SCALL::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 60px;
                        height: 30px;
                        background-image: url(./images/left-right.png);
                        background-size: contain;
                        background-position: center;
                        border-radius: 20px;
                        background-color: #ffffff;
                        background-repeat: no-repeat;
                        box-shadow: 0px 0px 10px #000000;
                        cursor: pointer;
                      }
                      

                    
                    

                
                    /* ****************3D phone**********************/


                @media only screen and (max-width: 1000px) {
                    .M-3D-IMGX{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
                
                    .M-3D-div {
                        height: auto; 
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                    }

                    
                }

            /* ****************3D**********************/
            
                            
                        


                        
             /* ****************footer**********************/
             footer{
                width: 100%;
                height: 420px;
                background-color: #4B4B4B;
                display: flex;
                flex-direction: row;
            }
            
            .footer-L{
                width: 50%;
                height: 100%;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
            }
            .footer-R{
                height: 100%;
                width: 50%;
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
            }
            .footer-R-M {
                height: 70%;
                width: 80%;
                display: flex;
                justify-content: space-evenly;
                position: relative;
                right: -84px;
            }
            .footer-L-M{
                height: 70%;
                width: 80%;
                position: relative;
                right: 50px;

            }
            .footer-R-L{
                height: 100%;
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }
            .footer-R-M-TEXT-DIV{
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .footer-R-S-TEXT-DIV{
                width: 100%;
                height: 14%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .footer-R-M-TEXT{
                margin: 0;
                font-size: 25px;
                font-family: 'Bebas Neue', cursive;
                color: white;

            }
            .footer-R-S-TEXT{
                margin: 0;
                font-size:0.8vw;
                color: white;
            }
            .footer-M-line{
                height: 80%;
                width: 2px;
                background-color: white;
                align-self: center;
            }
            .footer-Conact-DIV {
                height: 80%;
                width: 100%;
                display: flex;
            }
            .footer-social-DIV{
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
            }
            .footer-social-TEXT-DIV {
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .footer-social-IMG-DIV-M {
                width: 80%;
                display: flex;
                height: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                align-content: center;
            }

            .footer-social-img-M{
                height: 80%;

            }
            
            
            
            .footer-social-IMG {
                height: 40px;
                background-color: rgb(255, 255, 255);
                width: 40px;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                border-radius: 150px;
                overflow: hidden;
                align-content: center;
                align-items: center;
            }
            .footer-social-IMG a {
                height: 40px;
                background-color: rgb(255, 255, 255);
                width: 40px;
                display: flex;
                justify-content: center;
                border-radius: 150px;
                overflow: hidden;
                align-content: center;
                align-items: center;
            }
            
                .footer-social-TEXT{
                margin: 0;
                font-size: 25px;
                color: white;
                font-family: 'Bebas Neue', cursive;
            }
            .footer-Conact-TEXT-DIV {
                height: 100%;
                width: 20%;
                display: flex;
                justify-content: space-evenly;
                position: relative;
                top: 20px;
            }
            .footer-Conact-img-text-DIV {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .footer-Conact-M-TEXT{
                margin: 0;
                font-size: 25px;
                color: white;
                font-family: 'Bebas Neue', cursive;
            }
            .footer-Conact-TEXT-DIV-S {
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-between;
            }
            .footer-Conact-TEXT-DIV-S-S {
                height: 100%;
                width: 40%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                align-content: space-around;
            }
            .footer-Conact-img-S-DIV {
                height: 30px;
                width: 30px;
                border-radius: 150%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-content: center;
                background-color: white;
                align-items: center;
            }
            .footer-Conact-img-SS{
                height: 80%;
            }
            .footer-Conact-TEXT-SS {
                color: white;
                font-size: 0.91vw;
                margin: 0%;
                margin-left: 10px;
                margin-right: 10px;
            }
            .footer-Conact-TEXT-DIV-S-E {
                height: 20%;
                width: 100%;
                display: flex;
                align-content: center;
                justify-content: flex-start;
                align-items: center;
                align-self: center;
            }
            .footer-Conact-img-S-DIV-E{
                height: 30px;
                width: 30px;
                border-radius: 150%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-content: center;
                background-color: white;
                align-items: center;
            }
            .footer-Conact-img-SS-E{
                height: 80%;
            }

            .footer-Conact-TEXT-SS-E{
                color: white;
                font-size: 0.66vw;
                margin: 0%;
                margin-left: 10px;
                margin-right: 10px;
            }

            /* ****************footer hover**********************/
            .footer-R-M-TEXT-DIV:hover .footer-R-M-TEXT {transform: scale(1.1);}
            
            .footer-R-S-TEXT-DIV:hover .footer-R-S-TEXT {transform: scale(1.1);}





            /* ****************footer phone**********************/


            @media only screen and (max-width: 1000px) {


                footer{
                    height: 300px;
                }
                .footer-M-line{display: none;}

                .footer-R{display: none;}

                .footer-L{
                    width: 100%;

                }
                .footer-Conact-TEXT-SS{
                    font-size: 2.5vw;

                }
                .footer-Conact-TEXT-SS-E{
                    font-size: 1.55vw;
                }
                .footer-L-M {
                    height: 70%;
                    width: 100%;
                    position: relative;
                    right: auto;
                }
                .footer-Conact-img-S-DIV{
                    height: 30px;
                    width: 30px;
                }
                .footer-Conact-img-S-DIV-E{
                    width: 30px;
                    height: 30px;
                }
                .footer-social-IMG{
                    width: 40px;
                    height: 40px;
                }
                .footer-Conact-TEXT-DIV{
                    top: auto;
                }
                .footer-Conact-TEXT-DIV-S-S{
                    width: 49%;
                }
                .footer-Conact-M-TEXT {
                    margin: 0;
                    font-size: 25px;
                    color: white;
                    font-family: 'Bebas Neue', cursive;
                    position: relative;
                    top: 7%;
                }















            }
            /* ****************WHATSAPP-section**********************/
            .WHATSAPP-section {
                position: fixed;
                bottom: 90px;
                display: none;
                justify-content: flex-end;
                width: 100%;
                height: 0;
            }
            .WHATSAPP-img-div {
                height: 50px;
                width: 230px;

            }
            .WHATSAPP-div-M {
                height: 100%;
                width: 80%;
                background-color: #00A859;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }






            .WHATSAPP-img-div-img{
                height: 50px;
                width: 50px;
                background-color: white;
                display: flex;
                align-content: center;
                justify-content: center;
                border-radius: 0px 9px 9px 0px;

            }

            .WHATSAPP-text-div p {
                font-size: 25px;
                color: white;
                font-family: 'Bebas Neue', cursive;
                margin: 0;

            }
            
            .WHATSAPP-text-div {
                height: 100%;
                width: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .WHATSAPP-img-div:hover .WHATSAPP-div-M{background-color: #01ff88d5;}

             
            /* ****************footer phone**********************/